<!doctype html>
<html>
    <head>
        <title>Taglines</title>
        <script src="/axios/axios.js"></script>
    </head>
    <body>
        <form action="/search_results" method="post">
            <input id="searchMe" type="text" name="search">
            <button type="submit">Search</button>
        </form>
    </body>
</html>